@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
a{
    font-family: 'Readex Pro', sans-serif;
    text-decoration: none;
    color: slategrey;
    transition: all ease 0.3s 0s;
}
a:hover{
    color: black;
}
.app-header{
    box-shadow: 0 0 5px 1px rgb(212, 212, 212);
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5em;
    padding-left: 1.5em;
}
