
.grid-item > img {
    display: block;
    width: 100%;
    border-radius: 1px;
    transition: transform 0.1s ease-in-out;
}
.grid-item > img:hover{
    transform: scale(1.04);
}
.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sub-title{
    margin-top: -1em;
    
    font-family: monospace;
}